@font-face {
  font-family: Hylian;
  src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: Hylian;
  font-weight: bold;
  src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@keyframes opening {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes app-opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

html, body {
  overflow: hidden; /* Prevent scrollbars */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.Container {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.intro {
  font-family: Hylian;
  color: white;
  width: 98vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  margin-top: 25%;
}

.App {
  animation-name: app-opening;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-columns: 480px minmax(0, 1fr);
}

.title {
  animation-name: opening;
  animation-duration: 4s;
  text-align: center;
  font-family: Hylian;
  background: black;
  color: white;
  margin-top: -1.5em;
}

.subtitle {
  margin-top: -1em;
}

.Play-grid {
  border: solid white;
  overflow: auto;
  display: flex;
}

.Dev-area {
  width: 40%;
  height: 90%;
  flex: flex-grow;
  display: block;
}

.mainEditor {
}

.buttonBar {
  border: solid white;
  color: white;
  background: black;
  cursor: pointer;
}

.rulesBar {
  color: white;
  background: black;
  padding-left: 20px;
}

.playText {
  margin-block: auto;
  font-size: 300%;
  font-family: Hylian;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.running {
  color: red;
  cursor: not-allowed;
}

.outputs {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.console {
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 80%;
  overflow: auto;
  display: flex;
}

.stats {
  margin-block: auto;
  font-family: Hylian;
  color: white;
  font-size: 85%;
  overflow: auto;
  display: flex;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: #e3cda6;
}

.bg-tile {
  content: url(sprites/ground.png);
  overflow: hidden;
}

.water {
  content: url(sprites/water.png);
  background-color: #1e38eb;  
  overflow: hidden;
}

.rock {
  content: url(sprites/rock.png);
  overflow: hidden;
}

.hero {
  content: url(sprites/hero.png);
  overflow: hidden;
}

.monster {
  content: url(sprites/monster.png);
  overflow: hidden;
}

.queen {
  content: url(sprites/queen.png);
  overflow: hidden;
}

.dmg {
  filter: sepia(13%) saturate(250%) brightness(80%) hue-rotate(307deg);
}

.row {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.mapContainer {
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  max-height: 70vh;
  overflow: auto;
}

.devHeader {
  display: flex;
  flex-direction: row;;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: white;
}

.devHeader h3 {
  cursor: pointer;
}